@-webkit-keyframes rotate {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}

#blog {
  @include box-shadow(0,0);
  padding-bottom: 0;
}
.author {
  padding-left: 0;
}
//json driven template
#blog-post-index {
  min-height: 300px;
  position: relative;
  #blog-loading {
    position: absolute;
    left: 50%;
    margin-left: -95px;
    bottom: 150px;
    background: url(../images/blog-loading.gif) no-repeat 0 0;
    width: 190px;
    height: 52px;
    //@include funkyAnimation(1s,2s,rotate)
  }
  #no-content-message {
    border: 1px solid #eaeaea;
    padding: 50px;
    text-align: center;
      span {
        display: block;
        font-size: 100px;
        color: $gsBlue;
      }
  }
}
.blog-post {
  margin-bottom: 25px;
    article {
      margin-top: 10px;
        > figure {
          height: 250px;
          overflow: hidden;
          position: relative;
          margin-bottom: 15px;
          border: 1px solid rgba(0,0,0,0.2);
          @include flexbox;
          @include flexAlignItems(center);
          @include justifyContent(center);
            &:hover img {
              @include scale(1.25);
            }
            a {
              display: block;
              width: 100%;
              height: 100%;
              text-shadow: 1px 1px 1px rgba(0,0,0,0.3);
              img {
                margin: 0 auto;
                @include transition(all 0.4s);
                min-width: 100%;
                min-height: 100%;
              }
              figcaption {
                position: absolute;
                bottom: 0;
                top: 0;
                left: 0;
                right: 0;
                background: rgba(0, 0, 0, 0.3);
                color: #fff;
                padding: 10px;
              }
            }
        }
        p {
          padding: 0 10px;
        }
        .single-inspiration {
          width: 50px;
          height: 50px;
          position: absolute;
          top: 0;
          right: 0;
          display: block;
          background: url(../images/icon-inspiration-notext.svg) no-repeat 0 0;
          z-index: 2;
        }
        footer {
          a {
            text-decoration: underline;
          }
        }
    }
}
#blog-block {
  padding-bottom: 50px;
    .blog-post-full {
      margin-bottom: 40px;
        p {
          a {
            text-decoration: none;
            color: $gsOrange;
              &:hover {
                text-decoration: underline;
              }
          }
        }
    }
    .author-info {
      figure {
        margin: 0;      
        float: left;
      }
      .author-name {
        float: left;
      }
    }
    footer {
       margin-top: 20px;
       strong {
         color: $gsBlue;
         text-transform: uppercase;
       }
     }
}


.author-info {
  margin-bottom: 10px;
    h5 {
      color: $gsBlue;
      padding: 0;
      margin: 0 0 0 10px;
      font-weight: 300;
    }
    figure {
      overflow: hidden;
      margin: 0;
      float: left;
      padding-right: 8px;
    }
    .author {
      padding: 10px 0 10px 10px;
    }
}

//STRUCTURE
.single-post-header {
  padding: 75px 0 0;
    @include tablets {
      padding-bottom: 20px;
    }
    h1 {
      color: $gsBlue;
      font-weight: 400;
    }
}
.author-name {
  margin-top: 10px;
    span {
      padding-left: 10px;
    }
}

#right-sidebar {
  padding: 90px 15px 40px 15px;
    @include tablets {
      padding-top: 40px;
      padding-bottom: 20px;
    }
    .sidebar-widget {
      margin-bottom: 30px;
        .widget-title {
          color: $gsBlue;
          font-weight: 300;
        }
        ul {
          list-style: none;
          padding: 0;
            li {
              padding: 10px;
              border-bottom: 1px solid #eaeaea;
                &:last-child {
                  border-bottom: 0;
                }
            }
        }
    }
}

#social-navigation {
    position: relative;
      .social-link-column {
        position: fixed;
        top: 86px;
        width: 5%;
        z-index: 9;
      }
}

.contact-curator {
  margin: 8px 0;
  color: $gsBlue;
}
#curator-info-block {
  min-height: 150px;
    figure {
      position: relative;
      height: 150px;
      display: block;
        img {
          border: 1px solid #eaeaea;
          @include border-radius(50%);
        }
    }
    h1, p {
      color: #333;
    }

}

.outro {
  padding-top: 10px;
}

#inspiration-sidebar {
  margin-top: 75px;
    ul {
      margin-left: 0;
      padding-left: 0;
        .cat-post-item {
          position: relative;
          overflow: hidden;
          list-style: none;
          margin-bottom: 20px;
            .post-title {
              position: absolute;
              bottom: 0;
              left: 0;
              right: 0;
              background: rgba(0,0,0,0.5);
              color: #fff;
              padding: 10px;
            }
          &:hover {
            color: #fff;
          }
        }
    }
}

.featured-image-content {
  img {
    margin: 0 auto;
  }
}
#load-posts {
  text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
  @include font-size(28px);
    &:hover {
      text-decoration: none;
      color: rgba(255,255,255,0.75)!important;
    }
}
.single-post-page-wrapper {
    p {
      padding: 8px 0;
    }
}
