#photo-gallery {
  .carousel-indicators {
    bottom: -40px;
    li {
      border: 1px solid #fff;
      &.active {
        background: $gsOrange;
      }
    }
  }
  figure {
    position: relative;
    height: 260px;
    overflow: hidden;
    @include flexbox;
    @include flexAlignItems(center);
    background: #eaeaea;

    figcaption {
      position: absolute;
      bottom: 0;
      background: rgba(0,0,0,0.5);
      color: #fff;
      left: 0;
      right: 0;
      h3 {
        padding: 0 5px;
      }
    }
    img {
      width: 100%;
    }
  }
  .photo-count {
    position: absolute;
    top: 0;
    right: 18px;
  }
}
.carousel-indicators {
  bottom: -40px;
  li {
    border: 1px solid $gsBlue;
    &.active {
      background: $gsBlue;
    }
  }
}
.carousel-control {
  width: 30px;
  span {
    position: absolute;
    top: 50%;
    @include font-size(50px);
    margin-top: -20px;
  }
  &.left {
    background: none;
    display: none;
    span {
      left: 0;
    }
  }
  &.right {
    background: none;
    span {
      right: 0;
    }
  }
}

.carousel {
  .item {
    .partner-figure {
      @include flexbox;
      @include flexAlignItems(center);
      height: 175px;
      overflow: hidden;
    }
  }
}

#full-width-slider {
  position: relative;
  background: #333;
  padding: 25px;
  //margin-bottom: 60px;
  .item {
    color: #fff;
    figure {
      overflow: hidden;
      img {
        max-height: 400px;
        margin: 0 auto;
      }
      figcaption {
        padding-top: 20px;
      }
    }
    iframe {
      margin: 0 auto!important;
    }
  }
  .carousel-indicators {
    bottom: 0;
  }
  .carousel-control {
    span {
      @include font-size(80px);
      margin-top: -40px;
    }
  }
  #toggle-display {
    color: #fff;
    padding: 5px;
    position: absolute;
    @include font-size(40px);
    bottom: 5px;
    right: 15px;
    cursor: pointer;
  }
}