#intro-section {
  width: 100%;
  margin: 0px auto;
  position: relative;
  min-height: 400px;
  video {
    max-width: 100%;
    max-height: 100%;
  }
  .video-js {
    background: #fff;
  }
  #hero {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background: rgba(0,0,0,0.4);
      @include tablets {
        @include coverBG();
        background-image: url(../images/training-bg.jpg);
        position: relative;
        top: auto;
        left: auto;
        right: auto;
        min-height: 400px;
      }
      .container {
        @include flexbox;
        @include flexdirection(row);
        @include flexAlignItems(center);
          h1 {
            @extend %imageBgH1;
            color: #fff;
          }
          h2 {
            @extend %imageBgH2;
          }
      }
      .intro-button {
        position: absolute;
        bottom: 50px;
        right: 50px;
        color: rgba(255, 255, 255, 0.3);
        @include font-size(70px);
        cursor: pointer;
        @include transition(all 0.5s);
        &:hover {
          color: rgba(255, 255, 255, 1);
        }
      }
      #playback-control {
        right: 50px;
      }
      #video-info {
        right: 85px;
        background: none;
        @include font-size(30px);
        border: 0;
      }
  }
  #get-started {
    position: absolute;
    bottom: 50px;
    @include font-size(70px);
    left: 50%;
    margin-left: -25px;
    background: none;
    font-weight: 900;
    border: 0;
    a {
      color: #fff;
    }
  }
}

#sub-intro-section {
  background: $gsBlue;
  padding-bottom: 50px;
  padding-top: 50px;
  color: #fff;
  @include box-shadow(0 3px 8px -8px, black);
  position: relative;
  @include font-size(35px);
}