//***  REM for font sizes  ***/
//***********************************************
@function calculateRem($size) {
  $remSize: $size / 16px;
  @return $remSize * 1rem;
}
@mixin font-size($size) {
  font-size: $size;
  font-size: calculateRem($size);
}

//***  Media Queries  ***/
//***********************************************
@mixin tablets {
  @media only screen and (max-width: 768px) { @content; }
}
@mixin desktops {
  @media only screen and (max-width: 992px) { @content; }
}
@mixin large-desktops {
  @media only screen and (max-width: 1200px) { @content; }
}

// height
@mixin short-height {
  @media only screen and (max-height: 750px) { @content; }
}




//***  Opacity (for IE < 8 compatibility)  ***/
//***********************************************
@mixin opacity($opacity) {
  opacity: $opacity;
  $opacity-ie: $opacity * 100;
  filter: alpha(opacity=$opacity-ie);
}
//***  Box Shadows  ***/
//***********************************************
@mixin box-shadow($dimensions, $color) {
  -webkit-box-shadow: $dimensions $color;
  -moz-box-shadow:    $dimensions $color;
  box-shadow:         $dimensions $color;
}

/***  Transitions  ***/
//***********************************************
@mixin transition($args) {
  -o-transition: $args;
  -ms-transition: $args;
  -moz-transition: $args;
  -webkit-transition: $args;
  transition: $args;
}
/***  Radius  ***/
//***********************************************
@mixin border-radius($radius){
  -webkit-border-radius:  $radius;
  -moz-border-radius:  $radius;
  border-radius:  $radius;
}
/***  Box Border  ***/
//***********************************************

@mixin border-box(){
  box-sizing:border-box;
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box;
}

/***  Cover BG  ***/
//***********************************************

@mixin coverBG(){
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}


/***  Flexbox  ***/
//***********************************************
@mixin flexbox() {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

@mixin flexwrap($value: nowrap) {
  // No Webkit Box fallback.
  -webkit-flex-wrap: $value;
  -moz-flex-wrap: $value;
  @if $value == nowrap {
    -ms-flex-wrap: none;
  } @else {
    -ms-flex-wrap: $value;
  }
  flex-wrap: $value;
}

@mixin flexdirection($value: row) {
  @if $value == row-reverse {
    -webkit-box-direction: reverse;
    -webkit-box-orient: horizontal;
  } @else if $value == column {
    -webkit-box-direction: normal;
    -webkit-box-orient: vertical;
  } @else if $value == column-reverse {
    -webkit-box-direction: reverse;
    -webkit-box-orient: vertical;
  } @else {
    -webkit-box-direction: normal;
    -webkit-box-orient: horizontal;
  }
  -webkit-flex-direction: $value;
  -moz-flex-direction: $value;
  -ms-flex-direction: $value;
  flex-direction: $value;
}

@mixin flexAlignItems($value: stretch) {
  @if $value == flex-start {
    -webkit-box-align: start;
    -ms-flex-align: start;
  } @else if $value == flex-end {
    -webkit-box-align: end;
    -ms-flex-align: end;
  } @else {
    -webkit-box-align: $value;
    -ms-flex-align: $value;
  }
  -webkit-align-items: $value;
  -moz-align-items: $value;
  align-items: $value;
}

@mixin justifyContent($value: flex-start) {
  @if $value == flex-start {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
  } @else if $value == flex-end {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
  } @else if $value == space-between {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
  } @else if $value == space-around {
    -ms-flex-pack: distribute;
  } @else {
    -webkit-box-pack: $value;
    -ms-flex-pack: $value;
  }
  -webkit-justify-content: $value;
  -moz-justify-content: $value;
  justify-content: $value;
}

@mixin alignSelf($value: auto) {
  // No Webkit Box Fallback.
  -webkit-align-self: $value;
  -moz-align-self: $value;
  @if $value == flex-start {
    -ms-flex-item-align: start;
  } @else if $value == flex-end {
    -ms-flex-item-align: end;
  } @else {
    -ms-flex-item-align: $value;
  }
  align-self: $value;
}

@mixin flexGrow($int : 0) {
  -webkit-box-flex: $int;
  -webkit-flex-grow: $int;
  -moz-flex-grow: $int;
  -ms-flex-positive: $int;
  flex-grow: $int;
}

@mixin rotate($degrees) {
  -webkit-transform: rotate($degrees);
  -moz-transform: rotate($degrees);
  -ms-transform: rotate($degrees);
  -o-transform: rotate($degrees);
  transform: rotate($degrees);

}

@mixin funkyAnimation ($delay, $duration, $animation) {
  -webkit-animation-delay: $delay;
  -webkit-animation-duration: $duration;
  -webkit-animation-name: $animation;
  -webkit-animation-iteration-count:  infinite;
  -webkit-animation-timing-function: linear;

  -moz-animation-delay: $delay;
  -moz-animation-duration: $duration;
  -moz-animation-name: $animation;
  -moz-animation-iteration-count:  infinite;
  -moz-animation-timing-function: linear;

  -o-animation-delay: $delay;
  -o-animation-duration: $duration;
  -o-animation-name: $animation;
  -o-animation-iteration-count:  infinite;
  -o-animation-timing-function: linear;

  animation-delay: $delay;
  animation-duration: $duration;
  animation-name: $animation;
  animation-iteration-count:  infinite;
  animation-timing-function: linear;
}

@mixin scale ($value) {
  -webkit-transform:scale($value);
  -moz-transform:scale($value);
  -ms-transform:scale($value);
  -o-transform:scale($value);
  transform:scale($value);
}

/* --------------------
Extenders
--------------------------*/
%flexboxAlignmentSet {
  display: -webkit-flex; /* Safari */
  display: flex;
  -webkit-flex-wrap: wrap; /* Safari 6.1+ */
  @include flexAlignItems(center);
  flex-wrap: wrap;
  @include justifyContent(center);
}

%imageBgH1 {
  font-weight: 300;
  letter-spacing: 0;
  word-spacing: 3px;
  text-shadow: 2px 4px 7px rgba(0,0,0,0.8);
  @include large-desktops {
    @include font-size(70px);
  }
  @include desktops {
    @include font-size(70px);
  }
  @include tablets {
    @include font-size(50px);
    padding-top: 30px;
  }
}
%imageBgH2 {
  @include font-size(40px);
  @include large-desktops {
    @include font-size(40px);
  }
  @include desktops {
    @include font-size(35px);
  }
  @include tablets {
    @include font-size(25px);
  }
}


