.content-section {
  padding-top: 50px;
  padding-bottom: 50px;
  position: relative;
  overflow: hidden;
  @include box-shadow(inset 0px 1px 3px 0px, rgba(0, 0, 0, 0.2));
    .section-number {
      position: absolute;
      top: 50px;
      left: 0;
      @include font-size(300px);
      font-style: italic;
      color: rgba(255,255,255,1);
      font-family: $numberCustomFont;
      font-weight: 900;
      line-height: .6;
        span {
          padding-right: 50px;
        }
    }
    .section-template {
        .section-right-column {
          @include flexbox;
          @include flexAlignItems(center);
          @include flexwrap(wrap);
        }
    }
    .gs-btn {
      margin-top: 25px;
    }
    .top-corner-btn {
      @include tablets {
        position: static;
        margin-top: 15px;
        margin-bottom: 15px;
      }
    }
}

.training-section {
    .container {
      position: relative;
    }
}

.section-breaker {
  color: #fff;
  text-align: center;
  padding: 20px 0;
    h2 {
      padding: 0;
      margin: 0;
      line-height: 1.75;
      @include font-size(45px);
      text-transform: uppercase;
        @include large-desktops {
          @include font-size(40px);
        }
        @include desktops {
          @include font-size(35px);
        }
        @include tablets {
          @include font-size(30px);
          padding-bottom: 10px;
          line-height: 1;
        }
    }
    button {
      text-transform: uppercase;
    }
  .form-group {
    margin-bottom: 0;
    float: left;
  }
  .section-overlay {
    article {
      max-width: 768px;
      margin: 0 auto;
      padding: 15px 0;
      position: relative;
      font-weight: 300;
      .icon-comment {
        color: rgba(0,0,0,0.3);
        position: absolute;
        top: 0;
        left: -100px;
        @include font-size(200px);
      }
      footer {
        position: absolute;
        right: 0;
        bottom: 0;
      }
    }
  }
  .section-left-column {
    min-height: 50px;
      @include tablets {
        .gs-btn {
          padding: 7px 2px;
        }
      }
  }
}

#inspiration {
  .section-number {
    color: rgba(255,255,255,0.4);
  }
}

#fine-print {
  font-style: italic;
  p {
    @include font-size(30px);
    color: $gsBlue;
    opacity: 0.9;
  }
}

#numbered-bg {
  ul {
    padding-top: 50px;
      li {
        color: #666;
        position: relative;
        margin-bottom: 50px;
        span {
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          text-align: center;
          @include font-size(350px);
          font-style: italic;
          font-family: $numberCustomFont;
          color: rgba(68, 174, 234, 0.2);
          line-height: 0.5;
          @include tablets {
            @include font-size(140px);
          }
        }
      }
  }
}

.faq {
  > ul {
    > li {
      position: relative;
      cursor: pointer;
      border-top: 1px solid #eaeaea;
      > span {
        position: absolute;
        left: 0;
        top: 7px;
        color: $gsBlue;
      }
      .faq-question {
        padding-left: 25px;
        font-weight: 900;
        &.active {
          color: $gsBlue;
        }
      }
      &:first-child {
        border-top: none;
      }
    }
  }
      .faq-answer {
        cursor: auto;
        display: none;
        padding-left: 25px;
      }
}

.full-width-image-bg {
  @include coverBG();
  min-height: 500px;
}

#slider-wrapper {
  .carousel-indicators {
    bottom: 0;
  }
}
#contact {
  margin-top: 50px;
}
#contact-form {
    > div {
        .form-group {
          padding: 15px;
          border: 0;
          input {
            @include border-radius(3px);
            text-transform: initial;
          }
        }
        button {
          @include font-size(50px);
        }
    }
}
#contact-sidebar {
  a {
    text-decoration: none;
  }
  #social-contacts {
    margin-top: 30px;
    li {
      display: inline-block;
      font-size: 25px;
    }
  }
}

.overlay-text {
  padding: 15px;
  color: #fff;
  background: rgba(0,0,0,0.75);
  margin-top: 50px;
}

.in-section-social {
  padding: 0!important;
    @include tablets {
      .gs-btn {
        max-width: 160px;
        padding-left: 0;
        padding-right: 0;
      }
    }
}
.single-column-section {
  position: relative;
}

.page-section {
  margin-top: 30px;
  margin-bottom: 50px;
}
#collaborators {
  img {
    max-height: 67px; 
  }
}