/* =============================================================================
  MENU TOGGLE SWITCHES
============================================================================= */

// vars

$button-width: 50px;
$button-height: 50px;
$bar-thickness: 8px;
$button-pad: 13px;
$button-trans-delay: 0.3s;

/**
 * Toggle Switch Globals
 *
 * All switches should take on the class `cmn-toggle-switch` as well as their
 * variant that will give them unique properties. This class is an overview
 * class that acts as a reset for all versions of the icon.
 */

.cmn-toggle-switch {
  display: block;
  position: relative;
  overflow: hidden;
  margin: 0;
  padding: 0;
  width: $button-width;
  height: $button-height;
  font-size: 0;
  text-indent: -9999px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  box-shadow: none;
  border-radius: none;
  border: none;
  cursor: pointer;
  transition: background $button-trans-delay;
}

.cmn-toggle-switch:focus {
  outline: none;
}

.cmn-toggle-switch span {
  display: block;
  position: absolute;
  top: ($button-height / 2) - ($bar-thickness / 2);
  left: $button-pad;
  right: $button-pad;
  height: $bar-thickness;
  background: rgb(255,255,255);
}

.cmn-toggle-switch span::before,
.cmn-toggle-switch span::after {
  position: absolute;
  display: block;
  left: 0;
  width: 100%;
  height: $bar-thickness;
  background-color: #fff;
  content: "";
}

.cmn-toggle-switch span::before {
  top: -(($button-height / 2) - ($bar-thickness / 2) - $button-pad);
}

.cmn-toggle-switch span::after {
  bottom: -(($button-height / 2) - ($bar-thickness / 2) - $button-pad);
}

/**
 * Style 2
 * 
 * Hamburger to "x" (htx). Takes on a hamburger shape, bars slide
 * down to center and transform into an "x".
 */

.cmn-toggle-switch__htx {
  background-color: $gsBlue;
}

.cmn-toggle-switch__htx span {
  transition: background 0s $button-trans-delay;
}

.cmn-toggle-switch__htx span::before,
.cmn-toggle-switch__htx span::after {
  transition-duration: $button-trans-delay, $button-trans-delay;
  transition-delay: $button-trans-delay, 0s;
}

.cmn-toggle-switch__htx span::before {
  transition-property: top, transform;
}

.cmn-toggle-switch__htx span::after {
  transition-property: bottom, transform;
}

/* active state, i.e. menu open */

.cmn-toggle-switch__htx.active {
  background-color: darken(rgb(50, 62, 149), 20%);
}

.cmn-toggle-switch__htx.active span {
  background: none;
}

.cmn-toggle-switch__htx.active span::before {
  top: 0;
  transform: rotate(45deg);
}

.cmn-toggle-switch__htx.active span::after {
  bottom: 0;
  transform: rotate(-45deg);
}

.cmn-toggle-switch__htx.active span::before,
.cmn-toggle-switch__htx.active span::after {
  transition-delay: 0s, $button-trans-delay;
}

