// COLORS
$gsBlue : #44aeea; //68,174,234
$gsOrange : #ea5a3a; //234,90,58
$defaultHoverColor : $gsOrange;


// FONTS
$alphaCustomFont : 'Lato', sans-serif;
$numberCustomFont : 'Titillium Web', sans-serif;